@page "/counter"
@rendermode InteractiveServer
@inject IFileTypeDetection iFileTypeDetector
@inject IUploader iUploader
@inject ITranslator iTranslator

<PageTitle>Let's Translate'</PageTitle>

<InputFile OnChange="LoadFiles"></InputFile>

<button class="btn btn-primary" @onclick="upload">Upload the files</button>
<button class="btn btn-primary" @onclick="translate">Translate</button>


@code {
    private string fileType = "AAA";

    private void IncrementCount()
    {
        fileType = iFileTypeDetector.getFileType(5);
        if (fileType == "json")
        {

        }
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {

    }
    private void upload( )
    {
        iUploader.Upload();
    }

    private void translate()
    {
        iTranslator.Translate("es");
    }
}


