@page "/"

<PageTitle>Home</PageTitle>

<h1>@currentCount</h1>
<RadzenButton Text="Hi" @onclick="IncrementCount"></RadzenButton>
Welcome to your new app.

@code{
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        
    }
}
