@page "/"
@using System.Text.Json
@using Aspose.Cells
@using Radzen
@rendermode InteractiveServer
@inherits OwningComponentBase
@inject ITranslatorService iTranslatorService
@inject NotificationService NotificationService
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>


<div Class="rz-p-0 rz-p-md-12">

    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">
        <h2>Welcome to Accure Translator Service</h2>
        <a href="/document-translator" style="text-decoration:none">
            <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px;background-color:#4340d2;display:flex;justify-content:center">
                <RadzenText TextStyle="TextStyle.H5" TagName="TagName.P" Style="color:white">Translate Document Set</RadzenText>
            </RadzenCard>
        </a>
        @*
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px;background-color:#4340d2;display:flex;justify-content:center">
            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.P" Style="color:white">Translate a single document</RadzenText>
        </RadzenCard>
        <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px;background-color:#4340d2;display:flex;justify-content:center">
            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.P" Style="color:white">Translate a Text</RadzenText>
        </RadzenCard>
        *@
    </RadzenCard>
</div>