@page "/"
@using System.Text.Json
@using Aspose.Cells
@using Radzen
@rendermode InteractiveServer
@inherits OwningComponentBase
@inject ITranslatorService iTranslatorService
@inject NotificationService NotificationService
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<div Class="rz-p-0 rz-p-md-12">

    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">

    
    </RadzenCard>
</div>